.ab-para {
    padding-left: 100px;
    padding-right: 100px;
}

.ab-para p {
    text-align: center;
}

.edu-line{
    padding: 30px;
}

.main-line {
    width: 90%;
}

.sub-lines {
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
}

.line {
    width: 2px;
    height: 90px;
    background-color: aqua;
    border-radius: 90%;
}

.qualifications {
    display: flex;
}

.quali {
    text-align: center;
}


.lumi {
    margin-left: 98px;
}
.dipl {
    margin-left: 177px;
}
.hse {
    margin-left: 195px;
}

.txt1 {
    font-size: 18px;
}

.txt2 {
    font-size: 15px;
}

.txt3 {
    font-size: 12px;
}